app_name: product

# Deployer User and Groups
deployer_user: deployer
deployer_group: deployer

# SSH Keys Directory
ssh_dir: ~/.ssh/id_rsa.pub


# Github Code's Repo URL
code_repository_url: git@github.com:nekeal/product.git

# App Directory
app_dir: /opt/{{app_name}}

# DB Configuration
db_user: "{{app_name}}"
db_password: 12SDdv@7F?lJ
db_name: "{{ app_name }}"
db_url: postgresql://{{deployer_user}}:{{db_password}}@localhost/{{app_name}}

# Application Dependencies Setup
venv_dir: '/home/{{ deployer_user }}/.virtualenvs/{{ app_name }}'
venv_python: '{{ venv_dir }}/bin/python'

# Remote Server Details
server_ip: 165.22.81.176
wsgi_server_port: 8000


# WSGI Vars
django_wsgi_module: "{{app_name}}.wsgi"
django_settings_module: "{{app_name}}.settings"
database_url: '{{ db_url }}'